<mat-toolbar color="primary" class="mat-elevation-z6">
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Ng Project</span>

    <span class="example-spacer"></span>

    <button mat-button routerLink="/calculator" routerLinkActive="menu-active">Calculator</button>
    <button mat-button>Link 3</button>
    <button mat-button>Link 4</button>
    <button mat-button>Link 5</button>
    <button mat-button>Link 6</button>
  </mat-toolbar>